/*****************************
			fonts
*****************************/
/*Roboto*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.eot);
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(Merriweather.eot);
}
/*****************************
			main
*****************************/
body {
  overflow-x: hidden;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
  /*отключить внешние границы*/
  background: transparent;
  /*отключить background*/
}
button {
  outline: none;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
.container {
  max-width: 1060px;
  min-width: 320px;
}
/*****************************
			header
*****************************/
header {
  background: #ff6501;
}
header .header_top {
  background: #3f3f3f;
}
header .header_top nav ul {
  margin-bottom: 0;
  text-align: center;
}
header .header_top nav ul a:last-child li {
  border-right: 1px solid rgba(238, 238, 238, 0.1);
}
header .header_top nav ul a li {
  display: inline-block;
  border-left: 1px solid rgba(238, 238, 238, 0.1);
  padding: 12px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
}
header .header_top nav ul a li:hover {
  color: #fff;
}
header .header_top .greeting {
  text-align: center;
  padding-top: 14px;
  color: rgba(255, 255, 255, 0.6);
}
header .header_top .greeting:hover {
  color: #fff;
}
header .logo_box {
  position: relative;
  height: 100px;
}
header .logo_box .arrow {
  position: absolute;
  z-index: 10;
  right: 0;
}
header .logo_box .logo {
  position: absolute;
  z-index: 20;
  height: 100px;
}
header .social {
  position: relative;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar .navbar-header button.navbar-toggle {
  background-color: #fff;
  margin-top: 33px;
}
header .navbar .navbar-header .icon-bar {
  background-color: #3f3f3f;
}
header .navbar #responsive-menu ul {
  margin-top: -11px;
  text-align: center;
}
header .navbar #responsive-menu ul li:hover {
  background-color: #ff6501;
}
header .navbar #responsive-menu ul li:hover a {
  color: white !important;
}
header .navbar #responsive-menu ul li a {
  color: rgba(255, 255, 255, 0.6);
}
header .navbar #responsive-menu ul li a:hover {
  color: #333;
}
header .phones,
header .adress {
  display: block;
  width: 170px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.6);
  font-family: Merriweather;
  font-weight: 800;
}
header .phones i,
header .adress i {
  float: left;
  font-size: 30px;
  margin-top: 5px;
  margin-right: 15px;
}
header .phones span,
header .adress span {
  float: left;
  font-weight: 100;
  font-family: Roboto;
}
header .phones li,
header .adress li {
  font-family: Merriweather;
  font-weight: 800;
}
header .phones p,
header .adress p {
  margin-bottom: 0;
}
header .header_social {
  height: 80px;
}
header .header_social .social {
  text-align: center;
  position: relative;
}
header .header_social .social .social_box {
  position: absolute;
  z-index: 20;
  text-align: center;
  top: 0;
  width: 100%;
  padding-top: 10px;
}
header .header_social .social .social_box ul a li {
  display: inline-block;
}
header .header_social .social .social_box ul a li i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  padding: 10px 20px;
}
header .header_social .social .social_box ul a li i:hover {
  color: #3f3f3f;
}
header .header_social .social .arrow_social {
  position: absolute;
  z-index: 10;
}
header .header_navigation {
  margin-top: -19px;
}
header .header_navigation .navbar {
  border: 0;
  margin-top: -50px;
}
header .header_navigation .navbar #responsive-menu ul {
  text-align: center;
}
header .header_navigation .navbar #responsive-menu ul li {
  padding: 20px 5px;
}
header .header_navigation .navbar #responsive-menu ul li a {
  color: #777;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
header .header_navigation .navbar #responsive-menu ul li a:hover,
header .header_navigation .navbar #responsive-menu ul li a:focus {
  background-color: transparent;
  color: #111;
}
/*****************************
			topic
*****************************/
section.topic {
  background: #323134;
  color: #fff;
  text-align: center;
  margin-bottom: 65px;
}
section.topic h2 {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 36px;
  padding: 10px 0px;
  padding-bottom: 25px;
}
/*****************************
			footer
*****************************/
footer {
  background: url(../images/footer_fon.jpg);
  box-shadow: 0 0 0 408px rgba(0, 0, 0, 0.853) inset;
  padding-bottom: 29px;
}
footer .deskription {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12.5px;
}
footer .deskription h3 {
  color: #fff;
  font-size: 20px;
}
footer .deskription .short-line {
  border-bottom: 2px solid #ff6501;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
footer .deskription .long_line {
  border-bottom: 2px solid #ff6501;
  width: 88%;
  display: inline-block;
  margin-bottom: 10px;
}
footer .deskription .about {
  line-height: 1.58;
}
footer .deskription .tours .col-md-6 {
  padding-right: 0;
}
footer .deskription .tours .col-md-6 ul {
  margin-top: -3px;
  margin-bottom: 0;
}
footer .deskription .tours .col-md-6 ul a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12.5px;
  text-decoration: none;
}
footer .deskription .tours .col-md-6 ul a:hover {
  color: #ff6501;
}
footer .deskription .tours .col-md-6 ul a li {
  padding: 3px 0;
  font-size: 12.5px;
}
footer .deskription .tours .col-md-6 ul a li:before {
  content: "›";
  font-size: 17px;
  margin-left: -15px;
  margin-right: 15px;
}
footer .deskription .contacts ul li {
  padding: 6.5px 0;
}
footer .deskription .contacts ul li i {
  margin-right: 20px;
}
footer .deskription .contacts ul li i.fa-mobile {
  padding-left: 4px;
}
section.footer_social {
  background: #323134;
  height: 19px;
}
section.footer_social .social {
  text-align: center;
  position: relative;
  margin-top: -19px;
}
section.footer_social .social img {
  position: absolute;
  z-index: 10;
  right: 0;
}
section.footer_social .social .social_box {
  margin-top: -19px;
  position: absolute;
  z-index: 20;
  text-align: right;
  top: 0;
  width: 100%;
  padding-top: 10px;
}
section.footer_social .social .social_box ul {
  margin-bottom: 0;
  margin-top: 9px;
}
section.footer_social .social .social_box ul a li {
  display: inline-block;
  background: url(../images/arrow_menu_right.png);
  width: 67px;
  height: 38px;
  margin-right: -16px;
}
section.footer_social .social .social_box ul a li:hover {
  background: url(../images/arrow_menu_right_h.png);
}
section.footer_social .social .social_box ul a li i {
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}
section.footer_social .social .social_box ul a li i:hover {
  color: #fff;
}
section.footer_social .social .arrow_social {
  position: absolute;
  z-index: 10;
}
/*////////////////////////////////////////////////////////
			find tour
/////////////////////////////////////////////////////////*/
section.find_tour .request {
  position: relative;
  z-index: 10;
  background: #eee;
  margin: 50px 0;
  padding: 30px 0;
  text-align: center;
}
section.find_tour .request button {
  border: 0;
  background: #ff6501;
  padding: 10px 20px;
  text-transform: uppercase;
}
section.find_tour .request button:hover {
  color: #fff;
}
section.find_tour .request h3 {
  font-weight: 600;
  color: #1d2736;
}
section.find_tour .request p {
  padding: 0 20px;
  color: #777;
}
section.find_tour .request .figure_hexagone {
  width: 63px;
  height: 54px;
  background: url(../images/figure_hexagone.png);
  background-size: cover;
  margin: 0 auto;
}
section.find_tour .request .figure_hexagone i {
  margin-top: 13px;
  font-size: 28px;
}
/*****************************
			media
*****************************/
@media screen and (min-width: 768px) {
  header {
    background: transparent;
  }
  header .header_top nav ul {
    text-align: right;
  }
  header .header_top nav ul a li {
    padding: 12px 25px;
  }
  header .header_top .greeting {
    text-align: left;
  }
  header .header_content {
    background: #323134;
  }
  header .header_content .adress,
  header .header_content .phones {
    color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
  }
  header .header_content .adress i,
  header .header_content .phones i {
    color: #ff6501;
  }
  header .header_content .adress span,
  header .header_content .phones span {
    color: rgba(255, 255, 255, 0.6);
  }
  header .header_social .social {
    text-align: left;
    margin-top: -19px;
  }
  header .header_social .social .social_box {
    text-align: left;
    width: 100%;
    padding-top: 0;
  }
  header .header_social .social .social_box ul {
    margin-left: 15px;
  }
  header .header_social .social .social_box ul a li {
    background: url(../images/arrow_menu_left.png);
    width: 63px;
    height: 38px;
    margin-left: -16px;
  }
  header .header_social .social .social_box ul a li:hover {
    background: url(../images/arrow_menu_left_h.png);
  }
  header .header_social .social .social_box ul a li i {
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
  }
  header .header_social .social .social_box ul a li i:hover {
    color: #fff;
  }
  header .header_social .social .arrow_social {
    position: absolute;
    z-index: 10;
  }
  section.topic {
    text-align: left;
  }
  /************find tour******************/
  section.find_tour .request {
    position: relative;
    z-index: 10;
    background: transparent;
    margin: 50px 0;
    padding: 0;
    padding-right: 260px;
    height: 180px;
  }
  section.find_tour .request .text_request {
    position: relative;
    background: #eee;
    height: 180px;
    float: left;
    padding-left: 60px;
  }
  section.find_tour .request .text_request:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 0 90px 52px;
    border-color: transparent transparent transparent #eee;
    position: absolute;
    top: 0px;
    right: -52px;
    z-index: 2;
  }
  section.find_tour .request .text_request h3 {
    text-align: left;
    font-size: 32.5px;
    padding-top: 37px;
    margin-bottom: 5px;
  }
  section.find_tour .request .text_request p {
    text-align: left;
    padding: 0;
  }
  section.find_tour .request button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50%;
    margin-top: -20px;
  }
  section.find_tour .request .figure_hexagone {
    position: absolute;
    z-index: 10;
    width: 63px;
    height: 54px;
    top: 50%;
    margin-top: -27px;
    left: -13px;
    background: url(../images/figure_hexagone.png);
    background-size: cover;
  }
}
/*****************************
		     carousel
*****************************/
.carousel .carousel-inner .item {
  background: url(../images/MNE.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}
.carousel .carousel-inner .item .carousel-caption h1 {
  color: white !important;
}
.carousel .carousel-inner .item .carousel-caption h3 {
  color: white !important;
}
.carousel .carousel-inner .item img {
  width: 100%;
}
/*****************************
		     about
*****************************/
section.about {
  width: 100%;
  display: inline-block;
}
section.about .about-top {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding: 30px 20px;
  border: 2px solid #ff6501;
  margin-bottom: 30px;
  margin-top: 40px;
}
section.about .about-top h2 {
  display: inline-block;
  margin-bottom: 30px !important;
}
section.about .about-top p {
  font-size: 12px;
}
section.about .about-us span {
  font-size: 12px !important;
}
section.about .about-background {
  background: url(../images/more12.jpg) no-repeat bottom center;
  background-size: cover;
  height: 310px;
  margin: 21px 5px;
}
section.about .background {
  background-color: #343434;
  margin-bottom: 60px;
  margin-top: 30px;
}
section.about .about-bottom {
  text-align: center;
}
section.about .about-bottom i {
  color: #ff6501;
  font-size: 55px;
}
section.about .about-bottom h4 {
  color: white;
}
section.about .about-bottom p {
  font-size: 11px;
}
section.about .about-bottom .bottm-left {
  background-color: #343434;
  color: #AAAAAA;
  padding: 25px 10px;
}
section.about .about-bottom .bottm-center {
  background-color: #1F1F1F;
  color: #AAAAAA;
  padding: 25px 10px;
}
section.about .about-bottom .bottm-right {
  background-color: #151515;
  color: #AAAAAA;
  padding: 25px 10px;
}
section.about .our-team {
  text-align: center;
}
section.about .our-team .member-info {
  display: inline-block;
  width: 165px;
}
section.about .our-team ul {
  margin-top: 30px;
}
section.about .our-team ul li {
  margin-bottom: 15px;
  text-align: left;
}
section.about .our-team ul li img {
  margin-right: 18px;
  float: left;
  width: 150px;
  max-height: 170px;
}
section.about .our-team ul li span {
  font-size: 12px;
}
section.about .our-team ul li h5 {
  color: #ff6501;
}
section.about .our-team .social {
  display: inline-block;
  margin-top: 5px;
}
section.about .our-team .social li {
  display: inline-block;
  float: left;
  margin-right: 12px;
}
/*****************************
		     news
*****************************/
section.news .container-fluid .row {
  background-color: rgba(255, 255, 255, 0.6);
}
/*****************************
		     contacts
*****************************/
section.contacts .container-fluid .row {
  padding: 18px 45px 0 45px;
  background-color: #323234;
  color: white;
  margin-bottom: 50px;
}
section.contacts .phone-numbers {
  padding-top: 70px;
  height: 225px;
  background: url(../images/smartphone.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.75) inset;
  text-align: center;
  margin-bottom: 22px;
}
section.contacts .phone-numbers p {
  font-size: 28px;
  color: #fad232;
}
section.contacts .other-contacts {
  margin-bottom: 30px;
}
section.contacts .other-contacts ul {
  display: inline-block;
}
section.contacts .other-contacts ul li .contacts-img {
  background: url(../images/figure_hexagone.png) no-repeat center;
  background-size: contain;
  height: 55px;
  width: 55px;
  float: left;
  position: relative;
  top: 15px;
  right: 13px;
  margin-right: 5px;
}
section.contacts .other-contacts ul li .contacts-img i {
  color: white;
  font-size: 20px;
  padding: 17px 18px;
}
section.contacts .other-contacts ul li .contacts-text {
  display: inline-block;
}
section.contacts .other-contacts ul li .contacts-text h3 {
  font-size: 19px;
  margin-bottom: 0;
}
section.contacts .contacts-map {
  margin-bottom: 15px;
}
section.contacts .contact-inputs .top-input {
  width: 49%;
  margin: 0 2px;
  margin-bottom: 8px;
}
section.contacts .contact-inputs input {
  width: 100%;
  font-size: 10px;
  padding: 7px 12px;
  margin-bottom: 8px;
}
section.contacts .contact-inputs textarea {
  width: 100%;
  font-size: 10px;
  padding: 7px 12px;
  height: 100px;
}
section.contacts .contact-inputs button {
  color: white;
  background-color: #ff6501;
  margin: 15px 0 25px 0;
  font-size: 10px;
  padding: 7px 12px;
}
/*****************************
		     news
*****************************/
section.news hr {
  margin-bottom: 48px;
}
section.news .container-fluid .row {
  padding: 18px 45px 0 45px;
  background-color: #323234;
  color: white;
  margin-bottom: 50px;
}
section.news .news-div {
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
}
section.news .news-div img {
  width: 100%;
  margin-bottom: 25px;
}
section.news .news-div a {
  color: #ff6501;
}
section.news .right-block img {
  margin-bottom: 30px;
}
@media screen and (max-width: 994px) {
  section.contacts .contact-inputs .top-input {
    width: 100%;
    margin: 0 2px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 994px) and screen and (min-width: 992px) {
  header .header_content .adress,
  header .header_content .phones {
    margin-top: 20px;
    margin-left: 0;
    font-size: 20px;
  }
  header .header_content .adress i,
  header .header_content .phones i {
    margin-top: 10px;
    color: #ff6501;
  }
  header .header_content .logo_box .arrow {
    right: 40px;
  }
  header .header_navigation .navbar #responsive-menu ul li {
    padding: 20px 20px;
  }
  header .header_navigation .navbar #responsive-menu ul li a {
    font-size: 15px;
  }
  section.topic {
    padding-bottom: 30px;
  }
  footer .deskription {
    padding-top: 40px;
  }
  footer .deskription h3 {
    padding-bottom: 10px;
  }
  footer .deskription .short-line {
    margin-bottom: 20px;
  }
  footer .deskription .long_line {
    margin-bottom: 20px;
  }
  footer .deskription .tours .col-md-6 {
    padding-right: 0;
  }
  footer .deskription .tours .col-md-6 ul {
    margin-bottom: 0;
  }
  footer .deskription .tours .col-md-6 ul a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-decoration: none;
  }
  footer .deskription .tours .col-md-6 ul a:hover {
    color: #ff6501;
  }
  footer .deskription .tours .col-md-6 ul a li:before {
    content: "›";
    font-size: 17px;
    margin-left: -15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 994px) and screen and (min-width: 1200px) {
  section.find_tour .request {
    padding-right: 210px;
  }
}
